################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.sqlite
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
*.aux
*.log
*.gz
/visio/~$$full_code.~vsdx
/.vs/slnx.sqlite-journal
