################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.sqlite
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
*.aux
*.log
*.gz
/visio/~$$full_code.~vsdx
/.vs/slnx.sqlite-journal
/excel/grouping_speedup_table/~$grouping_speedup_table.xlsx
/excel/miniWECC_split/~$miniWECC_split.xlsx
/TEX/one-offs/200417-numericalTech/from-M410/m410_comparisonHW.asv
